In [2]:
from pyspark.sql.types import *  # Necessary for creating schemas
from pyspark.sql.functions import * # Importing PySpark functions

In [3]:
# Make a tuple list
a_list = [('a', 1), ('b', 2), ('c', 3)]

# Create a Spark DataFrame, without supplying a schema value
df_from_list_no_schema = \
sqlContext.createDataFrame(a_list)

# Print the DF object
print df_from_list_no_schema

# Print a collected list of Row objects
print df_from_list_no_schema.collect()

# Show the DataFrame
df_from_list_no_schema.show()

In [4]:
# Create a Spark DataFrame, this time with schema
df_from_list_with_schema = \
sqlContext.createDataFrame(a_list, ['letters', 'numbers'])

# Show the DataFrame
df_from_list_with_schema.show()

In [5]:
# Make a dictionary
a_dict = [{'letters': 'a', 'numbers': 1},
          {'letters': 'b', 'numbers': 2},
          {'letters': 'c', 'numbers': 3}]

# Create a Spark DataFrame from the dictionary
df_from_dict = \
sqlContext.createDataFrame(a_dict)

# Show the DataFrame
df_from_dict.show()

In [6]:
# Define the schema
schema = StructType([
    StructField('letters', StringType(), True),
    StructField('numbers', IntegerType(), True)])

# Create an RDD from a list
rdd = sc.parallelize(a_list)

# Create the DataFrame from these raw components
nice_df = \
(sqlContext
 .createDataFrame(rdd, schema))

# Show the DataFrame
nice_df.show()

In [8]:
# We now have a `nice_df`, here are some nice functions for
# inspecting the DF

# `columns`: return all column names as a list
nice_df.columns

In [9]:
# `dtypes`: get the datatypes for all columns
nice_df.dtypes

In [10]:
# `printSchema()`: prints the schema of the supplied DF
nice_df.printSchema()

In [11]:
# `schema`: returns the schema of the provided DF as `StructType` schema
nice_df.schema

In [12]:
# `first()` returns the first row as a Row while
# `head()` and `take()` return `n` number of Row objects
print nice_df.first() # can't supply a value; never a list
print nice_df.head(2) # can optionally supply a value (default: 1);
                      # with n > 1, a list
print nice_df.take(2) # expects a value; always a list

In [13]:
# `count()`: returns a count of all rows in DF
nice_df.count()

In [14]:
# `describe()`: print out stats for numerical columns
nice_df.describe().show() # can optionally supply a list of column names

In [15]:
# the `explain()` function explains the under-the-hood evaluation process
nice_df.explain()

In [17]:
# `unionAll()`: combine two DataFrames together

# Take the DataFrame and add it to itself
double_df = \
(nice_df
 .unionAll(nice_df))

# Add it to itself twice
triple_df = \
(nice_df
 .unionAll(nice_df)
 .unionAll(nice_df))

# Coercion will occur if schemas don't align
coerced_to_strings_df = \
(nice_df
 .select(['numbers', 'letters'])
 .unionAll(nice_df))

#coerced_to_strings_df.printSchema()

In [18]:
display(double_df)
#display(triple_df)

In [19]:
# `orderBy()` will perform sorting of DataFrame columns
sorted_asc_triple_df = \
(triple_df
 .orderBy('numbers'))

sorted_desc_triple_df = \
(triple_df
 .orderBy('numbers', ascending = False))

In [20]:
display(sorted_asc_triple_df)
#display(sorted_desc_triple_df)

In [21]:
# `select()` and `drop()` both take a list of column names
# and these functions do exactly what you might expect

# Select only the first column of the DF
nice_df_1_col = \
(nice_df
 .select('letters'))

# Re-order columns in the DF using `select()`
nice_df_2_col_reordered = \
(nice_df
 .select(['numbers', 'letters']))

# Drop the second column of the DF
nice_df_1_col_drop = \
(nice_df
 .drop('letters'))

In [22]:
# The `filter()` function performs filtering of DF rows

# Here is some numeric filtering with comparison operators
# (>, <, >=, <=, ==, != all work)
nice_df.filter(nice_df.numbers > 1).show()
nice_df.filter(nice_df.numbers > 1).filter(nice_df.numbers < 3).show()

# Not just numbers! Use the `filter()` + `isin()` combo to
# filter on string columns with a set of values
nice_df.filter(nice_df.letters.isin(['a', 'b'])).show()

In [23]:
# Before we get into aggregations, let's
# load in a CSV with interesting data and
# create a new DataFrame

# You do this with the `spark-csv` package;
# documentation: https://github.com/databricks/spark-csv

# This dataset contains data about flights departing
# New York City airports (JFK, LGA, EWR) in 2013; it
# has 336,776 rows and 16 columns

# Create a schema object then read the CSV with schema
nycflights_schema = StructType([
  StructField('year', IntegerType(), True),
  StructField('month', IntegerType(), True),
  StructField('day', IntegerType(), True),
  StructField('dep_time', StringType(), True),
  StructField('dep_delay', IntegerType(), True),
  StructField('arr_time', StringType(), True),
  StructField('arr_delay', IntegerType(), True),
  StructField('carrier', StringType(), True),
  StructField('tailnum', StringType(), True),
  StructField('flight', StringType(), True),  
  StructField('origin', StringType(), True),
  StructField('dest', StringType(), True),
  StructField('air_time', IntegerType(), True),
  StructField('distance', IntegerType(), True),
  StructField('hour', IntegerType(), True),
  StructField('minute', IntegerType(), True)
  ])

nycflights = \
(sqlContext
 .read
 .format('com.databricks.spark.csv')
 .schema(nycflights_schema)
 .options(header = True)
 .load('/mnt/spark-atp/nycflights13/nycflights13.csv'))

In [24]:
# Have a look at the schema for the imported dataset
nycflights.printSchema()

In [25]:
# Have a look at the `nycflights` DataFrame with the `display()` function (available for Databricks Cloud notebooks)
display(nycflights)

In [27]:
# Let's group and aggregate

# `groupBy()` will group one or more DF columns
# and prep them for aggregration functions
(nycflights
 .groupby('month') # creates 'GroupedData'
 .count() # creates a new column with aggregate `count` values
 .show())

# Use the `agg()` function to perform multiple
# aggregations
(nycflights
 .groupby('month')
 .agg({'dep_delay': 'avg', 'arr_delay': 'avg'}) # note the new column names
 .show())

# Caveat: you can't perform multiple aggregrations
# on the same column (only the last is performed)
(nycflights
 .groupby('month')
 .agg({'dep_delay': 'min', 'dep_delay': 'max'})
 .show())

In [28]:
# Use `groupBy()` with a few columns, then aggregate
display(
  nycflights
  .groupby(['month', 'origin', 'dest']) # group by these unique combinations
  .count()                              # perform a 'count' aggregation on the groups
  .orderBy(['month', 'count'],
           ascending = [1, 0])          # order by `month` ascending, `count` descending
)

In [29]:
# Use `groupBy()` + `pivot()` + an aggregation function to
# make a pivot table!

# Get a table of flights by month for each carrier
display(
  nycflights
  .groupBy('month') # group the data for aggregation by `month` number
  .pivot('carrier') # provide columns of data by `carrier` abbreviation
  .count()          # create aggregations as a count of rows
)

In [30]:
# Another pivot table idea: get the average departure
# delay for each carrier at the different NYC airports
display(
  nycflights
  .groupBy('carrier')
  .pivot('origin')
  .avg('dep_delay')
)

In [32]:
# Perform 2 different aggregations, rename those new columns,
# then do some rounding of the aggregrate values
display(
  nycflights
  .groupby('month')
  .agg({'dep_delay': 'avg', 'arr_delay': 'avg'})
  .withColumnRenamed('avg(arr_delay)', 'mean_arr_delay')
  .withColumnRenamed('avg(dep_delay)', 'mean_dep_delay')
  .withColumn('mean_arr_delay', format_number('mean_arr_delay', 1))
  .withColumn('mean_dep_delay', format_number('mean_dep_delay', 1))
)

In [33]:
# Add a new column (`far_or_near`) with a string based on a comparison
# on a numeric column; uses: `withColumn()`, `when()`, and `otherwise()`
display(
  nycflights
  .withColumn('far_or_near',
              when(nycflights.distance > 1000, 'far') # the `if-then` statement
              .otherwise('near'))                     # the `else` statement
)

In [34]:
# Perform a few numerical computations across columns
display(
  nycflights
  .withColumn('dist_per_minute',
              nycflights.distance / nycflights.air_time) # create new column with division of values
  .withColumn('dist_per_minute',
              format_number('dist_per_minute', 2))       # round that new column's float value to 2 decimal places
  .drop('distance') # drop the `distance` column
  .drop('air_time') # drop the `air_time` column
)

In [35]:
# Create a proper timestamp for once in your life...
# We have all the components: `year`, `month`, `day`,
# `hour`, and `minute`

# Use `concat_ws()` (concatentate with separator) to
# combine column data into StringType columns such
# that dates (`-` separator, YYYY-MM-DD) and times
# (`:` separator, 24-hour time) are formed
nycflights = \
(nycflights
 .withColumn('date',
             concat_ws('-',
                       nycflights.year,
                       nycflights.month,
                       nycflights.day))
 .withColumn('time',
             concat_ws(':',
                       nycflights.hour,
                       nycflights.minute)))

# In a second step, concatenate with `concat_ws()`
# the `date` and `time` strings (separator is a space);
# then drop several columns
nycflights = \
(nycflights
 .withColumn('timestamp',
             concat_ws(' ',
                       nycflights.date,
                       nycflights.time))
 .drop('year')     # `drop()` doesn't accept
 .drop('month')    # a list of column names,
 .drop('day')      # therefore, for every column
 .drop('hour')     # we would like to remove
 .drop('minute')   # from the DataFrame, we 
 .drop('date')     # must create a new `drop()`
 .drop('time'))    # statement

# In the final step, convert the `timestamp` from
# a StringType into a TimestampType
nycflights = \
(nycflights
 .withColumn('timestamp',
             to_utc_timestamp(nycflights.timestamp, 'GMT')))

In [36]:
# Display the `nycflights` DataFrame with the new `timestamp` column
display(nycflights)

In [37]:
# It probably doesn't matter in the end, but,
# I'd prefer that the `timestamp` column be
# the first column; let's make use of the
# `columns` method and get slicing!
nycflights = \
 (nycflights
  .select(nycflights.columns[-1:] + nycflights.columns[0:-1])) # recall that `columns` returns a list of column names

In [38]:
# Now the `timestamp` column is the first column: 
display(nycflights)

In [39]:
# Inspect the DataFrame's schema, note that `timestamp` is indeed classed as a timestamp
nycflights.printSchema()

In [40]:
# If you miss the time component columns,
# you can get them back! Use the `year()`,
# `month()`, `dayofmonth()`, `hour()`, and
# `minute()` functions with `withColumn()`
display(
  nycflights
  .withColumn('year', year(nycflights.timestamp))
  .withColumn('month', month(nycflights.timestamp))
  .withColumn('day', dayofmonth(nycflights.timestamp))
  .withColumn('hour', hour(nycflights.timestamp))
  .withColumn('minute', minute(nycflights.timestamp))
)

In [41]:
# There are more time-based functions:
# `date_sub()` - subtract an integer number of days from a
#                Date or Timestamp
# `date_add()` - add an integer number of days from a
#                Date or Timestamp
# `datediff()` - get the difference between two dates
# `add_months()` - add an integer number of months
# `months_between()` - get the number of months between
#                      two dates
# `next_day()` - returns the first date which is later
#                than the value of the date column
# `last_day()` - returns the last day of the month which
#                the given date belongs to
# `dayofmonth()` - extract the day of the month of a
#                  given date as integer
# `dayofyear()` - extract the day of the year of a given
#                 date as integer
# `weekofyear()` - extract the week number of a given
#                  date as integer
# `quarter()` - extract the quarter of a given date

# Let's transform the timestamp in the first
# record of `nycflights` with each of these
# functions
display(
  nycflights
   .limit(1)
   .select('timestamp')
   .withColumn('date_sub', date_sub(nycflights.timestamp, 7))
   .withColumn('date_add', date_add(nycflights.timestamp, 7))
   .withColumn('datediff', datediff(nycflights.timestamp, nycflights.timestamp))
   .withColumn('add_months', add_months(nycflights.timestamp, 1))
   .withColumn('months_between', months_between(nycflights.timestamp, nycflights.timestamp))
   .withColumn('next_day', next_day(nycflights.timestamp, 'Mon'))
   .withColumn('last_day', last_day(nycflights.timestamp))
   .withColumn('dayofmonth', dayofmonth(nycflights.timestamp))
   .withColumn('dayofyear', dayofyear(nycflights.timestamp))
   .withColumn('weekofyear', weekofyear(nycflights.timestamp))
   .withColumn('quarter', quarter(nycflights.timestamp))
   )

Joins are easily performed with Spark DataFrames. The expression is:

`join(other, on = None, how = None)`

where:
- other: a DataFrame that serves as the right side of the join
- on: typically a join expression
- how: the default is `inner` but there are also `inner`, `outer`, `left_outer`, `right_outer`, and `leftsemi` joins available

In [44]:
# Let's load in some more data so that we can have two DataFrames to join

# The CSV `weather.csv` contains hourly meteorological data from EWR during 2013

# Create a schema object then read the CSV with schema
weather_schema = StructType([  
  StructField('year', IntegerType(), True),
  StructField('month', IntegerType(), True),
  StructField('day', IntegerType(), True),
  StructField('hour', IntegerType(), True),
  StructField('temp', FloatType(), True),
  StructField('dewp', FloatType(), True),
  StructField('humid', FloatType(), True),
  StructField('wind_dir', IntegerType(), True),
  StructField('wind_speed', FloatType(), True),
  StructField('wind_gust', FloatType(), True),
  StructField('precip', FloatType(), True),
  StructField('pressure', FloatType(), True),
  StructField('visib', FloatType(), True)
  ])

weather = \
(sqlContext
 .read
 .format('com.databricks.spark.csv')
 .schema(weather_schema)
 .options(header = True)
 .load('/mnt/spark-atp/nycflights13/weather.csv'))

In [45]:
# Have a look at the imported dataset
display(weather)

In [46]:
# We need those `month`, `day`, and `hour` values back
nycflights = \
(nycflights
 .withColumn('month', month(nycflights.timestamp))
 .withColumn('day', dayofmonth(nycflights.timestamp))
 .withColumn('hour', hour(nycflights.timestamp)))

# Join the `nycflights` DF with the `weather` DF 
nycflights_all_columns = \
(nycflights
 .join(weather,
       [nycflights.month == weather.month, # three join conditions: month,
        nycflights.day == weather.day,     #                        day,
        nycflights.hour == weather.hour],  #                        hour
       'left_outer')) # left outer join: keep all rows from the left DF (flights), with the matching rows in the right DF (weather)
                      # NULLs created if there is no match to the right DF

In [47]:
# Notice that lots of columns created, as well as duplicate column names (not a bug! a feature?)
display(nycflights_all_columns)

In [48]:
# One way to reduce the number of extraneous
# columns is to use a `select()` statement
nycflights_wind_visib = \
(nycflights_all_columns
 .select(['timestamp', 'carrier', 'flight',
          'origin', 'dest', 'wind_dir',
          'wind_speed', 'wind_gust', 'visib']))

In [49]:
# Examine the DataFrame, now with less columns
display(nycflights_wind_visib)

In [50]:
# Let's load in even more data so we can determine if
# any takeoffs occurred in very windy weather

# The CSV `beaufort_land.csv` contains Beaufort scale values
# and wind speed ranges in mph

# Create a schema object then read the CSV with schema
beaufort_land_schema = StructType([  
  StructField('force', IntegerType(), True),
  StructField('speed_mi_h_lb', IntegerType(), True),
  StructField('speed_mi_h_ub', IntegerType(), True),
  StructField('name', StringType(), True)
  ])

beaufort_land = \
(sqlContext
 .read
 .format('com.databricks.spark.csv')
 .schema(beaufort_land_schema)
 .options(header = True)
 .load('/mnt/spark-atp/nycflights13/beaufort_land.csv'))

In [51]:
# Have a look at the imported dataset
display(beaufort_land)

In [52]:
# Join the current working DF with the `beaufort_land` DF
# and use join expressions that use the WS ranges
nycflights_wind_visib_beaufort = \
(nycflights_wind_visib
 .join(beaufort_land,
      [nycflights_wind_visib.wind_speed >= beaufort_land.speed_mi_h_lb,
       nycflights_wind_visib.wind_speed < beaufort_land.speed_mi_h_ub],
       'left_outer')
 .withColumn('month', month(nycflights_wind_visib.timestamp)) # Create a month column from `timestamp` values
)

In [53]:
# View the joined DF; now we have extra data on wind speed!
display(nycflights_wind_visib_beaufort)

In [54]:
# We can inspect the number of potentially dangerous
# takeoffs (i.e., where the Beaufort force is high)
# month-by-month through the use of the `crosstab()` function
crosstab_month_force = \
(nycflights_wind_visib_beaufort
 .crosstab('month', 'force'))

crosstab_month_force = \
(crosstab_month_force
 .withColumn('month_force',
             crosstab_month_force.month_force.cast('int')) # the column is initially a string but recasting as
                                                           # an `int` will aid ordering in the next expression
 .orderBy('month_force')
 .drop('null'))

In [55]:
# Display the cross tabulation; turns out January was a bit riskier for takeoffs due to wind conditions
display(crosstab_month_force)

In [57]:
# Saving to CSV is quite similar to reading from a CSV file
(crosstab_month_force
 .write
 .mode('overwrite')
 .format('com.databricks.spark.csv')
 .save('/mnt/spark-atp/nycflights13/crosstab_month_force/'))

In [58]:
# Saving to Parquet is generally recommended for data warehousing purposes
(crosstab_month_force
 .write
 .mode('overwrite')
 .parquet('/mnt/spark-atp/nycflights13/crosstab_month_force_parquet/'))

There are many more functions... although I tried to cover a lot of ground, there are dozens more functions for DataFrames that I haven't touched upon.

The main reference for PySpark is:

- http://spark.apache.org/docs/latest/api/python/index.html

These examples are available at:

- https://github.com/rich-iannone/so-many-pyspark-examples